<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title> 
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <img class="logo" src="../assets/Logo-Mighty-ducks-01.png" alt="image 3">
    <header>
        <h1>Mighty Ducks Hockey League</h1>
        <h2>Contact</h2>
    </header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars" ></i>
        </label>
        <ul>
            <li><a href="../index.html">Home <i class="fa-solid fa-house"></i></a></li>
            <li><a href="./about.html">About MDHL <i class="fa-solid fa-eye"></i></a></li>
            <li  class="selected"><a href="#">Contact <i class="fa-solid fa-phone"></i></a></li>
            <li><a href="./form.html">Registration form <i class="fa-solid fa-scroll"></i></a></li>
            <li><a href="./games.html">Games <i class="fa-solid fa-calendar"></i></a></li>
            <li><a href="./rules.html">rules <i class="fa-solid fa-book-journal-whills"></i></a></li>
        </ul>
    </nav>
    <main>
        <img class="content-image" src="../assets/hockey-3.jpg" alt="hockey 3">
        <div class="content">
            <p class="text">Please email us at <a href="mailto:mdhl@chihockey.org">mdhl@chihockey.org</a></p>
            <p class="text">We will reply to your emailas soon as we can.</p>
        </div>
    </main>
</body>
</html>