<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedules</title> 
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <img class="logo" src="../assets/Logo-Mighty-ducks-01.png" alt="image 3">
    <header>
        <h1>Mighty Ducks Hockey League</h1>
        <h2>Games</h2>
    </header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars" ></i>
        </label>
        <ul>
            <li><a href="../index.html">Home <i class="fa-solid fa-house"></i></a></li>
            <li><a href="./about.html">About MDHL <i class="fa-solid fa-eye"></i></a></li>
            <li><a href="./contact.html">Contact <i class="fa-solid fa-phone"></i></a></li>
            <li><a href="./form.html">Registration form <i class="fa-solid fa-scroll"></i></a></li>
            <li class="selected"><a href="#">Games <i class="fa-solid fa-calendar"></i></a></li>
            <li><a href="./rules.html">rules <i class="fa-solid fa-book-journal-whills"></i></a></li>
        </ul>
    </nav>
    <main>
        <img class="content-image" src="../assets/hockey-4.jpg" alt="hockey 3">
        <div class="content">
            <table>
                <caption>
                    <h4>Fall Schedule</h4>
                    <h5>*All games take place on Saturday</h5>
                </caption>
                <tr>
                    <th>SEPTEMBER</th>
                    <th>Teams</th>
                    <th>Location</th>
                    <th>Times</th>
                </tr>
                <tr>
                    <td rowspan="2">9/01</td>
                    <td>U1 and U4</td>
                    <td><a href="#katzenmaier">AJ Katzenmaier</a></td>
                    <td>9:30 a.m</td>
                </tr>
                <tr>
                    <td>U3 and U2</td>
                    <td><a href="#greenbay">Greenbay</a></td>
                    <td>1:00 p.m</td>
                </tr>  
                <tr>
                    <td rowspan="2">9/08</td>
                    <td>U5 and U6</td>
                    <td><a href="#howard">Howard A Yeager</a></td>
                    <td>9:30 a.m</td>
                </tr>  
                <tr>
                    <td>U6 and U1</td>
                    <td><a href="#marjorie">Marjorie P Hart</a></td>
                    <td>1:00 p.m</td>
                </tr>  
                <tr>
                    <td rowspan="2">9/15</td>
                    <td>U2 and U4</td>
                    <td><a href="#north">North</a></td>
                    <td>9:30 a.m</td>
                </tr>  
                <tr>
                    <td>U3 and U5</td>
                    <td><a href="#katzenmaier">AJ Katzenmaier</a></td>
                    <td>1:00 p.m</td>
                </tr>  
                <tr>
                    <td rowspan="2">9/22</td>
                    <td>U1 and U3</td>
                    <td><a href="#south">South</a></td>
                    <td>9:30 p.m</td>
                </tr>
                <tr>
                    <td>U2 and U6</td>
                    <td><a href="#howard">Howard A Yeager</a></td>
                    <td>1.00 p.m</td>
                </tr> 
                <tr>
                    <td>9/29</td>
                    <td>U4 and U5</td>
                    <td><a href="#greenbay">Greenbay</a></td>
                    <td>9:30 a.m</td>
                </tr>
            </table>
        </div>
        <div class="schedule-info">
            <p><span>Facility Type: </span>Outdoor</p>
            <p><span>Additional Information: </span>If deemed necessary by MDHL james may be shortened
                or cancelled due to extreme weather conditions.</p>
            <p><span>Please direct all questions to: </span>Michael Randall, League Coordinator.</p>
            <div class="schedule-contant">
                <p><span>Phone: </span>(630) 690-3132</p>
                <p><span>Email: </span>michaeLrandallGchihockey.org</p>
            </div> 
        </div>
        <div class="maps">
            <h3 id="katzenmaier">AJ Katzenmaier</h3>
            <hr>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10722.511686657204!2d-87.86686693312116!3d42.32656044703144!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf2bbe275c6da815!2sAJ%20Katzenmaier%20Academy!5e0!3m2!1ses-419!2sco!4v1651199131296!5m2!1ses-419!2sco" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h3 id="greenbay">Greenbay</h3>
            <hr>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5228.399429150888!2d-87.55956400335357!3d41.74168267590579!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e280817973aed%3A0x50b8ef413dd6890d!2sGreen%20Bay%2C%20Chicago%2C%20Illinois%2060617%2C%20EE.%20UU.!5e0!3m2!1ses-419!2sco!4v1651199604680!5m2!1ses-419!2sco" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h3 id="howard">Howard A Yeager</h3>
            <hr>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.081808325619!2d-87.66370489856291!3d41.92363836728353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd2e37f852467%3A0xb6cb22b2f0358874!2sHoward%20A%20Yeager%20Elementary!5e0!3m2!1ses-419!2sco!4v1651199728609!5m2!1ses-419!2sco"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h3 id="marjorie">Marjorie P Hart</h3>
            <hr>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2968.295410502809!2d-87.6468953819646!3d41.92950315074036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd30f2637f9d7%3A0xdbff5d5dfcfcfa35!2sMarjorie%20P%20Hart%20Elementary!5e0!3m2!1ses-419!2sco!4v1651199795796!5m2!1ses-419!2sco" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h3 id="north">North</h3>
            <hr>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2418.526557611565!2d-87.64644903236484!3d41.907358871326956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd33af14860a5%3A0x5736e62f19086c62!2sNorth%20Elementary!5e0!3m2!1ses-419!2sco!4v1651199858546!5m2!1ses-419!2sco" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h3 id="south">South</h3>
            <hr>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3275.808061458149!2d-87.85419038836667!3d42.31709326793972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880feccac2135a21%3A0x8ce88e90b96bbec1!2sSouth%20Elementary%20School%20(K-5)!5e0!3m2!1ses-419!2sco!4v1651199921018!5m2!1ses-419!2sco" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
</body>
</html>